@font-face {
  font-family: gelatique;
  src: url(./assets/FivetyLikes.otf);
}
@media(max-width: 760px) {
  body{
    background-image: url(./assets/background.png);
    background-position: center;
  background-attachment: fixed;
  background-repeat: none;
  }
}
@media(min-width: 761px) {
  body{
    background-image: url(./assets/background.png);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}
body {
  text-align: center;
  margin: 5% 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fancy{
  font-family: gelatique;
  font-size: 4em;
  color: gold;
}
.nav a{
  text-decoration: none;
  color: white;
}
.title{
  color: white;
}
.title-position{
  position: relative;
  bottom: 50px
}
.list{
  text-decoration: none;
  color: white;
}
.bullet-list li{
  list-style-type: none;
}